/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FIN RESET CSS*/

body {
	background: url('../img/black-white.jpg');
	background-size: cover;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size: 2em;
}

/* HEADER */

#header {
	background: #111;
	text-align: center;
}

#header nav ul li {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 50px;
	display: inline-block;
}

/* FIN DU HEADER */

section {
	width: 900px;
	background-color: #555;
	margin: auto;
	padding: 20px;
	/* -moz-box-shadow: 1px 1px 10px 0px #cd9934;
	-webkit-box-shadow: 1px 1px 10px 0px #cd9934;
	-o-box-shadow: 1px 1px 10px 0px #cd9934;
	box-shadow: 1px 1px 10px 0px #cd9934;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cd9934, Direction=134, Strength=10); */
}

/* STYLE BOUTON */

#bouton_texte {
	text-align: center;
}

.bouton
{
    color:#ddd;
    font-size:24px;
    cursor:pointer;
    text-align: center;
    transition: .5s padding ease-out;
}
.bouton:hover
{
    text-decoration: none;
    background: #777;
    padding: 10px 10px 10px 100px;
    border-radius: 5px;
    color: white;
    transition: .5s padding ease-out;
}

/* FIN DU STYLE BOUTON */

.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
    margin: 30px 0;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}

/* FOOTER */

footer {
	background: #111;
	padding: 20px 0;
}

footer nav ul li {
	display: inline-block;
	padding: 0 50px;
}

#footer {
	text-align: center;
}

/* FIN DU FOOTER */